body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    background: linear-gradient(to left, red,pink,white);
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    border: solid 1px black;
    box-shadow: 5px 5px 5px hsl(0, 0%, 51%);
    border-radius: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: aliceblue;
}

.celsius-class {
    display: flex;
    align-items: center;
    gap: 10px;
}

.fahren-class {
    display: flex;
    align-items: center;
    gap: 10px;
}

#cel {
    height: 30px;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}

#fah {
    height: 30px;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}

h4 {
    font-size: 30px;
}