body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 400px;
    border: solid 2px black;
    border-radius: 10px;
    padding: 20px;
    background-color: aquamarine;
}

button {
    margin-top: 20px;
}